

.app {
    margin: 3em auto;
    width: 90%;
   
}



#home{
	font-family: 'Maven Pro', sans-serif;
}


h1, p {
	text-align: center;
}


.result-item {
    background-color: #adadad;
}




.result-list {
    column-gap: 1.5em;
    font-size: .85em;
    margin: 0;
    padding: 0;
}

.gif-modal {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.inputTextFrom{
   font-size: 30px;
   height: 60px;
   width: 400px;
}

.inputText {
   font-size: 22px;
    height: 50px;
    margin: 20px 20px;
}

.buttonShowPref , .sumbitButton{
    background-color: #737373;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 70px;
    margin:20px;
}

.buttonShowPref{
    text-align: left;
    width: 550px;
}
.SearchBar{
    text-align: center;
    height: 500px;
}
.inputTextFrom{
    margin-top: 100px;
}


.search{
    background-image: url(/../../images/search.jpg);
}

@media only screen and (min-width: 400px) {
    .gif-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .gif-list {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .gif-list {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .gif-list {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .app {
        width: 1140px;
    }
}
